.background {
  background-image: linear-gradient(to bottom right, #b56576, #355070);
  background-size: 100%;
  background-position: top right; }

.no-gutters {
  padding: 0 !important; }

.navbar {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem; }

.jumbotron {
  padding: 2rem;
  background-color: #355070;
  line-height: 2rem;
  font-size: 1rem; }

.jumbotron h1 {
  letter-spacing: 0.1rem;
  text-shadow: grey 0.1em 0.1em 0.2em; }

.carousel {
  text-shadow: 0 0 4px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.modal-content {
  background-color: #355070; }

#whitelink {
  color: white;
  font-weight: bold;
  font-style: italic; }
